// styling information
// 
// this is seperated into a seperate file to allow
// page to utilize styling without needing to
// extend the base layout

meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="/css/styles.css")

script(defer, src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
