yarn.lock
.prettierrc
items-directive.txt
package-lock.json
.env
node_modules/
yarn-error.log

# public js files should be built at compile-time
public/js/**/*

# public css files should be built from sass at compile-time
public/css/*