html
    head
        include includes/styling
    body
        section.section
            .container.has-text-centered
                .columns.is-centered
                    .column.is-7
                        figure.image(style='height: 50%; width: 50%; display: inline-block')
                            img(src="/img/cozziforms.png")
                        h1.title.is-1 404
                        p.subtitle.is-3 Page not found
                        p 
                            | just like all of our inventory will if you don't put stuff on the order list 😋
                a.button.is-primary(href='/') Head home
