extends layout

append head
    style.
        #tabs-ul > li {
            transition: all 200ms ease-in-out;
        }

        #tabs-ul > li:hover {
            transform: scale(0.9);
        }
    script(src='/js/dashboard.js')
block body
    .hero.is-primary
        .hero-body
            nav.level
                .level-left
                    .level-item(style='padding: 0px 1em')
                        p.title Admin Dashboard
                .level-right
                    .level-item(style='padding: 0px 1em')
                        .tabs.is-toggle
                            ul#tabs-ul
                                li#items-tab.is-active.has-text-primary
                                    a 
                                        span.icon
                                            i.fas.fa-boxes
                                        span Items
                                li#vendors-tab
                                    a
                                        span.icon
                                            i.fas.fa-parachute-box
                                        span Vendors
                                li#users-tab
                                    a
                                        span.icon
                                            i.fas.fa-user
                                        span Users

    // inspect item modal

    #inspectItemModal.modal
        .modal-background
        .modal-card
            header.modal-card-head  
                p.modal-card-title#iim-title Inspect Item
                button#iim-deleteBtn.delete(aria-label='close')
            section.modal-card-body
                .field.is-horizontal
                    .field-label.is-normal
                        label.label Item Name
                    .field-body
                        .control(style='flex-grow: 1')
                            input#iim-itemnameTxt.input(type='text' placeholder='Item Name...')
                .field.is-horizontal
                    .field-label.is-normal                    
                        label.label Vendor
                    .field-body
                        .control
                            .select
                                select#iim-vendorSelect                                    option With options
                        .field-label.is-normal
                            label.label Unit
                        .field-body
                            .control(style='flex-grow: 1')
                                input#iim-unitnameTxt.input(type='text' placeholder='boxes, cartons, etc...')

            footer.modal-card-foot
                button.button.is-primary#iim-saveBtn Save Changes
                button.button#iim-cancelBtn Cancel
    .box
        nav.level
            .level-left
                .level-item
                    #newitemBtn.button.is-fullwidth.is-outlined.is-primary
                        span.icon
                            i.fas.fa-plus-circle
                        span New Item
            .level-right
                .level-item
                    .field(style='width: 100%')
                        .control.has-icons-left.is-expanded
                            input#searchboxTxt.input(type='text' placeholder='Search Items')
                            span.icon.is-left
                                i.fas.fa-search
    .box
        table#itemTable.table.is-fullwidth.is-hoverable
            thead
                tr
                    th Vendor
                    th Category 
                    th Item Name
            tbody