doctype html
html
    head
        block head
            title Cozzi Forms
            include includes/styling

            script(src='https://code.jquery.com/jquery-3.6.0.min.js')

            script(src='/js/babel-polyfill.js')
            script(src='/js/require.js')
            script(src='/js/layout.js')  
    body
        nav.navbar(role='navigation' aria-label='main navigation')
            .navbar-brand
                a.navbar-item(href='/')
                    img(src='/img/cozziforms.png')
                a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarPrimary')
                    span(aria-hidden='true') 
                    span(aria-hidden='true') 
                    span(aria-hidden='true')
            #navbarPrimary.navbar-menu
                .navbar-start
                    a.navbar-item(href='/orderlist') Order List
                    a.navbar-item(href='/waste') Waste Sheet
                    if user.isAdmin
                        a.navbar-item(href='/dashboard') Admin Dashboard
                .navbar-end
                    .navbar-item
                        .buttons
                            if user.isAdmin
                                a.button.is-primary(href='/review') Review Order
                            a.button.is-light(href='/me') My Account
        block body

