extends dashboard_layout

append head
    style.
        /* modal zoom in and out animation */

        #inspectItemModal.is-active > .modal-card {
            animation: centerZoom 250ms ease-in-out;
        }

        #inspectItemModal.is-closing > .modal-card {
            animation: centerZoomOut 250ms;
        }

        @keyframes centerZoomOut {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }

        @keyframes centerZoom {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }

        /*  special padding rules for the unit label to make
            it look better */

        @media only screen and (min-width: 768px) {
            #iim-unitLabel {
                padding-left: 1em;
            }
        }

        @media only screen and (max-width: 768px) {
            #iim-unitLabel {
                padding-top: 0.75em;
            }
        }
    script(src='/js/manage-items.js')
append body
    // inspect item modal

    #inspectItemModal.modal
        .modal-background
        .modal-card
            header.modal-card-head  
                p.modal-card-title#iim-title Inspect Item
                button#iim-cornerCloseBtn.delete(aria-label='close')
            section.modal-card-body
                .field.is-horizontal
                    .field-label.is-normal
                        label.label Item Name
                    .field-body
                        .control(style='flex-grow: 1')
                            input#iim-itemnameTxt.input(type='text' placeholder='Item Name...')
                .field.is-horizontal
                    .field-label.is-normal                    
                        label.label Vendor
                    .field-body
                        .control
                            .select
                                select#iim-vendorSelect                                    option With options
                        #iim-unitLabel.field-label.is-normal
                            label.label Unit
                        .field-body
                            .control(style='flex-grow: 1')
                                input#iim-unitnameTxt.input(type='text' placeholder='boxes, cartons, etc...')

            footer.modal-card-foot
                nav.level(style='width: 100%')
                    .level-left
                        .level-item
                            button.button.is-primary#iim-saveBtn Save Changes
                    .level-right
                        .level-item
                            .buttons
                                button.button.is-pulled-right#iim-deleteBtn
                                    span.icon
                                        i.fas.fa-trash
                                    span Delete Item
                                button.button#iim-cancelBtn Cancel
    .box
        nav.level
            .level-left
                .level-item
                    #newitemBtn.button.is-fullwidth.is-outlined.is-primary
                        span.icon
                            i.fas.fa-plus-circle
                        span New Item
            .level-right
                .level-item
                    .field(style='width: 100%')
                        .control.has-icons-left.is-expanded
                            input#searchboxTxt.input(type='text' placeholder='Search Items')
                            span.icon.is-left
                                i.fas.fa-search
    .box
        table#itemTable.table.is-fullwidth.is-hoverable
            thead
                tr
                    th Vendor
                    th Category 
                    th Item Name
            tbody