extends layout

append head
    script(src='/js/manage_items.js')
    script
block body
    .hero.is-primary
        .hero-body
            p.title Manage Items

    // inspect item modal

    #inspectItemModal.modal
        .modal-background
        .modal-card
            header.modal-card-head  
                p.modal-card-title#iim-title
                button.delete(aria-label='close')
            section.modal-card-body
                // TODO: add content
            footer.modal-card-foot
                button.button.is-success#iim-saveBtn Save Changes
                button.button#iim-cancelBtn Cancel

    .box
        nav.level.is-fullwidth.is-mobile
            .level-left
                .level-item
                    #newitemBtn.button.is-outlined.is-primary
                        span.icon
                            i.fas.fa-plus-circle
                        span New Item
                .level-item
                    #managevendorsBtn.button.is-outlined.is-primary
                        span.icon
                            i.fas.fa-parachute-box 
                        span Manage Vendors
                .level-item
                    .button.is-outlined.is-primary
                        span.icon
                            i.fas.fa-folder
                        span Manage Categories  
            .level-right
                .level-item 
                    .field
                        .control.has-icons-left
                            input#searchboxTxt.input(type='text' placeholder='Search Items')
                            span.icon.is-left
                                i.fas.fa-search
    .box
        table#itemTable.table.is-fullwidth.is-hoverable
            thead
                tr
                    th Vendor
                    th Category 
                    th Item Name
            tbody