extends dashboard_layout

append head
    style.
        /* modal zoom in and out animation */

        #newVendorModal.is-active > .modal-card {
            animation: centerZoom 250ms ease-in-out;
        }

        #newVendorModal.is-closing > .modal-card {
            animation: centerZoomOut 250ms;
        }

        @keyframes centerZoomOut {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }

        @keyframes centerZoom {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
    script(src='/js/manage-vendors.js')

append body
    include includes/confirmation-modal

    // inspect vendor modal

    #inspectVendorModal.modal
        .modal-background
        .modal-card
            header.modal-card-head  
                p.modal-card-title#ivm-title Inspect Vendor
                button#ivm-cornerCloseBtn.delete(aria-label='close')
            section.modal-card-body
                .field.is-horizontal
                    .field-label.is-normal
                        label.label Name
                    .field-body
                        .control(style='flex-grow: 1')
                            input#ivm-nameTxt.input(type='text' placeholder='vendor name...')

            footer.modal-card-foot
                nav.level(style='width: 100%')
                    .level-left
                        .level-item
                            button.button.is-primary#ivm-saveBtn Save Changes
                    .level-right
                        .level-item
                            .buttons
                                button.button.is-pulled-right#ivm-deleteBtn
                                    span.icon
                                        i.fas.fa-trash
                                    span Delete Vendor
                                button.button#ivm-cancelBtn Cancel
    .box
        nav.level
            .level-left
                .level-item
                    #newVendorBtn.button.is-fullwidth.is-outlined.is-primary
                        span.icon
                            i.fas.fa-plus-circle
                        span New Vendor
            .level-right
                .level-item
                    .field(style='width: 100%')
                        .control.has-icons-left.is-expanded
                            input#searchboxTxt.input(type='text' placeholder='Search Vendors')
                            span.icon.is-left
                                i.fas.fa-search
    .box(style='margin: 0px 10%')
        table#vendorTable.table.is-fullwidth.is-hoverable
            thead
                tr
                    th Vendor Name
                    th Associated Items
            tbody